[2013-09-25 21:27] learnthinkteach opened #1 "Flickering particles when solution from dropper is added to a "Saturated!" beaker."
"Flickering" particles appear and disappear quickly from the bottom of the beaker as solution is added from the dropper to a saturated beaker.  Possibly an issue when the amount of solute in the beaker is borderline for a whole number value of calculated particles?

Noticed for red (cobalt), orange, yellow, and green solutions; have not tried them all, but these examples show that this behavior is

[2013-09-25 21:32] learnthinkteach opened #2 "Concentration meter read-out border not smooth"
The horizontal border on the concentration read-out is a few pixels lower in the middle main portion of the meter, and the side borders are a few pixels higher.  Noticed in Chrome on Mac 10.6.8.  Not observed in Firefox.

Chrome troubleshooting info:
Name: Concentration
URL: http://www.colorado.edu/physics/phet/dev/html/concentration/1.0.0-rc.1/concentration_en.html
Version: 1.0.0-rc.1
Features mi

[2013-09-26 19:12] jessegarrison opened #3 "Performance gets a little slow on Safari if severely over saturated."
Performance gets a little slow on Safari if you really over saturate, such as shaking the canister until it is completely out.  Easiest to see with Potassium permanganate.

Troubleshooting information
Name: Concentration
URL: http://www.colorado.edu/physics/phet/dev/html/concentration/1.0.0-rc.1/concentration_en.html
Version: 1.0.0-rc.1
Features missing: flexbox, touch
User Agent: Mozilla/5.0 (Mac

[2013-09-27 00:41] learnthinkteach opened #4 "Top of screen gets cut off when resizing from "portrait" to "landscape" orientation"
Sim opens fine in landscape mode.  If I rotate the iPad to portrait mode, and then back to landscape mode, the top portion of the sim gets cut off.  This was observed when there was a bar of "tabs" for other websites in the space that was getting cut off (it was like the sim didn't realize the tabs were there to resize below them?)

Name: Concentration
URL: http://www.colorado.edu/physics/phet/dev

[2013-09-27 04:00] learnthinkteach opened #5 "Top of concentration meter probe image is missing"
The top edge or rim of the concentration meter probe is not showing up, it's like it got shaved off.  Using Windows 7 Pro in Chrome.
﻿﻿﻿
![screenshot_200](https://f.cloud.github.com/assets/5091998/1223789/de573a42-272d-11e3-88bb-13114320d830.jpg)

Name: Concentration
URL: http://www.colorado.edu/physics/phet/dev/html/concentration/1.0.0-rc.1/concentration_en.html
Version: 1.0.0-rc.1
Features missi

[2013-09-27 05:02] learnthinkteach opened #6 "Performance slow with Windows XP Firefox"
Shaker action and particles falling are choppy / have delay from interaction / particles fall in clumps not a steady shower.
Solution evaporation and beaker filling from faucet get choppy when solution is more saturated (see also issue #3).
This is a problem in Firefox. Behaviors not observed in Chrome on the same machine (no issues there).

Name: Concentration
URL: http://www.colorado.edu/physics

[2013-09-27 20:30] #2 closed, assigned to nobody

[2013-09-27 21:19] #4 closed, assigned to nobody

[2013-09-30 16:48] #5 closed, assigned to nobody

[2013-10-02 16:34] #6 closed, assigned to nobody

[2013-10-02 17:57] #3 closed, assigned to nobody

[2013-10-10 16:49] ycarpenterphet opened #7 "No stream of solution from dropper when tapped (instead of pressed)"
Name: Concentration
URL: http://www.colorado.edu/physics/phet/dev/html/concentration/1.0.0-rc.2/concentration_en.html
Version: 1.0.0-rc.2
Features missing: flexbox, touch
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.8; rv:24.0) Gecko/20100101 Firefox/24.0
Language: en-US
Window: 903x694
Pixel Ratio: 2/1

When the dropper is tapped, it adds a very tiny amount of so

[2013-10-10 17:00] jonathanolson opened #8 "Shaker performance slow on Firefox OS X"
Mac OS X 10.6.8 with Firefox 24.0 on the Big Mac, maybe ~6 FPS while dragging shaker with the beaker full.

[2013-10-10 17:01] ycarpenterphet opened #9 "dropper button gets stuck in 'on' position"
Name: Concentration
URL: http://www.colorado.edu/physics/phet/dev/html/concentration/1.0.0-rc.2/concentration_en.html
Version: 1.0.0-rc.2
Features missing: flexbox, touch
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/536.30.1 (KHTML, like Gecko) Version/6.0.5 Safari/536.30.1
Language: en-us
Window: 949x662
Pixel Ratio: 2/2

Unlike behaviour in Firefox (see issue #7), tappi

[2013-10-10 17:12] jonathanolson opened #10 "Drag not canceled on faucets when liquid reaches bottom/top"
Reproduce:
1. Start draining the fluid while pouring in fluid.
2. Either have the drain rate faster (drain faucet will have issues once there is no fluid and it will refill), or have the drain rate slower (filling faucet will have issues once it is filled, and it will drain out).

[2013-10-10 17:19] jonathanolson opened #11 "Solute particle performance is slow on Firefox Android"
Firefox 24.0, Android 4.3 (Nexus 7).

Shaker performance is good enough, but when adding solute particles it is significantly slower.

[2013-10-10 17:23] jonathanolson opened #12 "Concentration meter visual look on Firefox Android"
![screenshot_2013-10-10-11-21-06](https://f.cloud.github.com/assets/480878/1308568/b5dd9900-31d0-11e3-9c9d-e8434aa14380.png)

[2013-10-10 17:28] jonathanolson opened #13 "Chrome Android visual artifact on evaporation slider"
![screenshot_2013-10-10-11-26-16](https://f.cloud.github.com/assets/480878/1308602/5570525a-31d1-11e3-94ac-4e25033cedb1.png)

[2013-10-10 17:32] jonathanolson opened #14 "touchArea for the dropper button is hard to select on Nexus 7"
This could be increased a bit like the similar circular button in BLL.

Testing http://www.colorado.edu/physics/phet/dev/html/concentration/1.0.0-rc.2/concentration_en.html

[2013-10-10 17:35] jonathanolson opened #15 "Hit area for the Reset All button could be increased slightly for touch."

[2013-10-10 17:38] learnthinkteach opened #16 "Graphics imperfections in Chrome"
These are minor and should not hold up publication, but I wanted to document them as "noticed".

Name: Concentration
URL: http://www.colorado.edu/physics/phet/dev/html/concentration/1.0.0-rc.2/concentration_en.html
Version: 1.0.0-rc.2
Features missing: touch
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/30.0.1599.69 Safari/537.36
Language:

[2013-10-10 17:41] learnthinkteach opened #17 "Remove solute button text off center in Chrome"
Remove solute button is short on padding on the right side (or, the text is not centred).  Not critical to publication, and not seen in Firefox on the same OS.

![removesolute](https://f.cloud.github.com/assets/5091998/1308703/045ff27e-31d3-11e3-9391-91f90a11fd28.jpg)

Name: Concentration
URL: http://www.colorado.edu/physics/phet/dev/html/concentration/1.0.0-rc.2/concentration_en.html
Version: 1.0

[2013-10-13 05:49] learnthinkteach opened #18 "Performance slow on Firefox Windows 7"
Beaker fills very choppily (eg. Water faucet is on but there is no visual filling; then the sim responds and the beaker is instantly full).  Shaker and dropper have a delay on draging; they are a little behind the mouse (more than other platforms).
Documenting this issue -- not critical for publication.

Name: Concentration
URL: http://www.colorado.edu/physics/phet/dev/html/concentration/1.0.0-rc.

[2013-10-14 17:53] orejolaphet opened #19 "multitouch oddness with shaker on Win8 Surface + Firefox"
With Solid Solute selected, multiple touch pinch motion causes image and text for the shaker to change size, change position, and juxtaposition of the words.

![concentration bug](https://f.cloud.github.com/assets/5631059/1344795/e9fdba9e-3685-11e3-8f32-01471a00a79f.png)

Name: Concentration
URL: http://www.colorado.edu/physics/phet/dev/html/concentration/1.0.0-rc.2/concentration_en.html
Version:

[2013-10-14 21:19] #15 closed, assigned to nobody

[2013-10-14 21:26] #14 closed, assigned to nobody

[2013-10-14 21:38] #13 closed, assigned to nobody

[2013-10-14 21:42] #12 closed, assigned to nobody

[2013-10-14 21:55] #17 closed, assigned to nobody

[2013-10-14 21:57] #16 closed, assigned to nobody

[2013-10-14 22:14] pixelzoom opened #20 "shaker particle freezes above solution surface"
Originally reported as part of https://github.com/phetsims/concentration/issues/8, moved to this new issue.

@ycarpenterphet reported:

Mac OS X 10.8.4 Safari 6.0.5.

Performance lag is most evident when, occasionally, the last particle being added to the beaker will freeze just above the surface of the liquid in the beaker, with maybe an addition 1-2s lag before it dissolves/disappears.

Name: Co

[2013-10-15 02:16] emily-phet opened #21 "Dropdown options appear when holding down dropper button - Windows 8"
Probably not a big deal, but when you use the Windows 8, and hold your finger on something for a few seconds, a dropdown box of options appears ("back", "select", etc.). The "back" takes you out of the sim.

This happens when using any sim feature, but since students are likely to push down the dropper button for long periods of time, they are probably going to see this drop down box. Would be nic

[2013-10-15 15:11] pixelzoom opened #22 "test offline on all supported platforms"
This was not covered by the 1.0.0-rc.2 test matrix.  I'm unclear on whether PhET's offline solution has been rigorously tested on all platforms, and it definitely needs to be before we go to the trouble of publishing.

[2013-10-15 20:51] pixelzoom opened #23 "Slow Performance Windows 8 Surface Firefox"
This was originally part of https://github.com/phetsims/concentration/issues/19, reported by @orejolaphet.

Interactive tabs; adding water, removing water, Evaporation, Solution, respond inconsistently when touched.

Troubleshooting info:
Name: Concentration
URL: http://www.colorado.edu/physics/phet/dev/html/concentration/1.0.0-rc.2/concentration_en.html
Version: 1.0.0-rc.2
Features missing: flexb

[2013-10-15 21:06] pixelzoom opened #24 "performance is sluggish on Firefox"
This issue coalesces several other issues, all of which dealt with substandard performance on Firefox. The issues were for various platforms, so this appears to be a cross-platform issue. The original issues (all closed as "wontfix") were: #23, #18, #11, #8.

There is some optimism that the upcoming Firefox 25 release will address performance.

[2013-10-15 21:07] #23 closed, assigned to nobody

[2013-10-15 21:07] #18 closed, assigned to nobody

[2013-10-15 21:07] #8 closed, assigned to nobody

[2013-10-15 21:08] #11 closed, assigned to nobody

[2013-10-16 07:57] jonathanolson opened #25 "Is the color difference on the edges of the concentration meter on purpose?"
If not, it should be a bug. Reproducible across every browser on Windows 7.

[2013-10-17 01:44] #25 closed, assigned to nobody

[2013-10-17 14:44] #20 closed, assigned to nobody

[2013-10-17 16:00] #10 closed, assigned to nobody

[2013-10-17 16:03] #9 closed, assigned to nobody

[2013-10-17 16:44] #21 closed, assigned to nobody

[2013-10-17 17:30] #24 closed, assigned to nobody

[2013-10-25 18:23] orejolaphet opened #26 "Reset button does not work Firefox + Windows 7 (offline)"
Test device: IBM ThinkPad
Operating System: Windows 7 32-bit
Browser: Firefox 24 (offline)
Description:

Reset button does not work.

Troubleshooting information:

Name: Concentration

URL: file:///C:/Users/arthurs/Documents/oliver.phet/OffLine%20Testing/concentration-rc-3_en.html

Version: 1.0.0-rc.3

Features missing: flexbox, touch

User Agent: Mozilla/5.0 (Windows NT 6.1; rv:24.0) Gecko/201001

[2013-10-25 18:34] orejolaphet opened #27 "Slow performance as you near using all of the solute up. (offline)"
Test device: IBM ThinkPad
Operating System: Windows 7 32-bit
Browser: Firefox 24 (offline)
Description: Performance slows down as you continue adding the solute. Falling particles from "solid solute" fall in a non-continuous fashion and overall performance slows down.
Steps to reproduce:

Add as much of the "solid solute" as you can with some amount of liquid that is saturated.

Screenshots:

![co

[2013-10-25 22:01] #26 closed, assigned to nobody

[2013-10-25 22:02] #27 closed, assigned to nobody

[2013-10-27 00:59] #22 closed, assigned to nobody

[2013-12-19 18:04] #7 closed, assigned to nobody

[2013-12-23 19:55] #19 closed, assigned to nobody

[2014-04-01 13:46] oliver-phet opened #28 "User request: convert between grams and moles"
Reported via PhEThelp by Alexander

Hello,
I love your simulators and use them for chemistry lessons all the time, they’re great!

I think it would be even better if the concentration simulators could convert between grams and moles so students can practice calculations between molarity and percent by mass.  The solvent and solute controls are also somewhat clumsy (shaking crystals from a saltshak

[2014-06-11 16:23] orejolaphet opened #29 "Concentration probe reads 0.000 when solution is empty"
Testing on Concentration 1.1.0-rc.1

Issue is identical to Beer's Law Lab issue #65
https://github.com/phetsims/beers-law-lab/issues/65

[2014-06-13 16:28] orejolaphet opened #30 "Draining the container while solute particles are falling will have particles vanish when empty."
Issue is Identical to Beer's Law Lab issue #66 https://github.com/phetsims/beers-law-lab/issues/66

[2014-06-15 01:57] #30 closed, assigned to nobody

[2014-06-15 01:57] #29 closed, assigned to pixelzoom

[2014-06-15 02:38] pixelzoom opened #31 "Please test: Concentration 1.1.0-rc.2"
@orejolaphet and @phet-steele:

Please test Concentration 1.1.0-rc2. Focus on confirming that issues #29 and #30 are fixed. These were very isolated fixes, so the other parts of the sim should be unaffected. Therefore you can just give the sim a quick look on each platform.

Test matrix is here:
https://docs.google.com/spreadsheet/ccc?key=0AnwuYps_JQNtdDE0aEdHLTZfTG1VaFFJdHhvZzN0M3c#gid=10

[2014-06-16 22:27] #31 closed, assigned to nobody

[2014-06-16 22:46] pixelzoom opened #32 "Please test: Concentration 1.1.0-rc.3"
Focus on confirming that issue phetsims/beers-law-lab#68 is fixed. This was a very isolated fix, so the other parts of the sim should be unaffected. Therefore you can just give the sim a quick look on each platform.

Here's the test matrix:
https://docs.google.com/spreadsheet/ccc?key=0AnwuYps_JQNtdDE0aEdHLTZfTG1VaFFJdHhvZzN0M3c&usp=drive_web#gid=11

[2014-06-17 14:39] #32 closed, assigned to nobody

[2015-02-25 16:55] oliver-phet opened #33 "User request: add one solution to another"
User suggestion emailed to PhEThelp:
"I want to ask:  why a solution can't be added to another different solution in the simulation that is mentioned in the title. Moreover, in my opinion I think it should be added so students can create questions out of the process and try to challenge themselves with something that is a bit more complicated. Thank you "

[2015-02-25 18:40] pixelzoom commented on #33
Probably best to assign this to one of the chemists to respond. But my understanding is that supporting this would require an entirely different (more complicated) model.

[2015-02-25 21:41] ycarpenterphet commented on #33
@oliver-phet Would you like me to write a response to the user?

[2015-02-25 21:52] pixelzoom commented on #33
@ycarpenterphet I'm assuming that @oliver-phet does want you to write a response. You'll need to ask him for contact info, since we don't post that info public GitHub issues.  If you post your reply here, reminder to strip out names and email addresses.

[2015-02-25 22:07] oliver-phet commented on #33
If you feel it is worth it to write back, I can send along contact info. I thank all users when they make a request for a feature in a sim and tell them we will consider it, so there is no need to write back if we won't be pursuing.

[2015-02-25 22:27] pixelzoom commented on #33
@ycarpenterphet Whether you reply or not... Could you briefly summarize the pedagogical reason, for posterity? This is not the first time that this feature has been proposed, and it would be nice to be able to refer to this issue in the future for an answer. Thanks!

[2015-03-06 04:00] samreid opened #34 "Add together API support"
Concentration has been selected as a simulation to use for API/arch/metacog/together integration.  This issue will track commits done in the concentration repo and in the beers-law-lab repo, so they can be reviewed when complete.  Work will be done in a branch `api` until it can be reviewed by the primary sim developer, @pixelzoom.

[2015-03-06 19:58] samreid commented on #34
@pixelzoom please let me know when we can review the changes above together.  I'd like to move to master sooner rather than later, but only after we have had a chance to discuss and evaluate the changes.

[2015-03-06 21:16] pixelzoom commented on #34
I'll have some time on Monday 3/9.

[2015-03-07 05:46] samreid commented on #34
I added a way to test save/load dynamically at http://localhost:8080/together/examples/mirror.html  (needs to have URLs updated to match your configuration).  This loads from one iframe and plays back immediately to another iframe so we can easily visualize what is getting saved/restored from the state.

[2015-03-07 14:34] samreid commented on #34
The above commit is a nice concise example of how to instrument a single feature in the simulation.

[2015-03-07 14:35] samreid commented on #34
One thought: after working on this for a bit, I'm realizing that concentration-api.jsi and and concentration-api-routes.js should probably be defined in beers-law-lab/ instead concentration/

[2015-03-07 14:37] samreid commented on #34
Yes, it should be moved, so things will still be instrumented when running beers-law-lab (which includes the concentration screen).  But that means we'll need a different way to distributed these files (cannot just point to ${simname}/${simname}-api.js

[2015-03-07 14:38] samreid commented on #34
I think I'll leave everything where it is until @pixelzoom & I have a chance to review it, so that viewing history, issue comments, etc. will be easy.

[2015-03-08 17:30] pixelzoom commented on #34
If possible, please rename the `api` branch to something more descriptive. See phetsims/together#11.

[2015-03-09 15:10] pixelzoom commented on #33
@ycarpenterphet what is the status on this?

[2015-03-09 15:30] pixelzoom commented on #34
@samreid Adding this support requires promoting many things to public fields, e.g. n ConcentrationView:

+    this.soluteControls = new SoluteControls...

As we discussed a couple of weeks ago, this is a necessary evil of this approach, we don't see any way around it, and the negative aspects should be addressed through documenting that this fields are for `together` only.  So I'm surprised to see

[2015-03-09 17:33] samreid commented on #34
As discussed with @pixelzoom today, we are going to investigate an alternative approach.  I'll create a new issue and a new branch.

[2015-03-10 18:50] pixelzoom opened #35 "sim has no strings file and incorrectly gets its title from BLL"
concentration should have a strings file, which probably consists of just the title:

[code]

And package.json should be:

[code]

[2015-03-10 19:12] pixelzoom commented on #35
Fixed, closing.

[2015-03-10 19:12] #35 closed

[2015-03-11 00:10] samreid commented on #34
We have abandoned this methodology in the concentration branch, and the only usage site I see in common code was in EyeDropperNode, and I moved the instance var back to closure var in the above commit.  Anything else to do for your above comment https://github.com/phetsims/concentration/issues/34#issuecomment-77875918 ?

[2015-03-11 00:12] samreid commented on #34
I deleted the `api` branches and new work is being done in the `together` branch.  Anything else to do for https://github.com/phetsims/concentration/issues/34#issuecomment-77762998 ?

[2015-03-20 19:26] pixelzoom commented on #34
@samreid asked:

No.

[2015-03-20 19:30] samreid commented on #34
I'm ready for assistance from @pixelzoom to discuss this branch.  Please let me know when you are available.

[2015-03-20 20:57] pixelzoom commented on #34
@samreid and I spent 30 minutes looking at this on Skype. Looking good.

I had a few recommendations (feel free to move these elsewhere, if that makes sense.)

(1) Change 'parent' to 'supertype' in type descriptions (TogetherTypes), since this is describing single-inheritance, and 'type' is used for describing the types for componentIDs.

(2) Move together type descriptions (currently in joist.Tog

[2015-03-20 21:39] pixelzoom commented on #34
Assigning back to @samreid. Let me know when you're ready to discuss again.

[2015-03-21 00:20] samreid commented on #34
I'm concerned about name collisions.  For instance if we have a together.js type Object, and import it, then it will shadow window.Object and wreak havoc unexpectedly.  Same issue to a lesser extend with String, Number, Boolean, etc.  I'd rather not water down the public API or introduce inconsistencies like different casing for primitives vs composites.  I guess right now I'm leaning toward using

[2015-03-21 00:23] samreid commented on #34
I'm leaning toward using one file per type so it will be uniform across types instead of treating primitives as a special case.

[2015-03-21 00:24] samreid commented on #34
Everyone please be aware this means Scenery, Dot, Axon, etc will be getting these type definitions.

[2015-03-21 00:32] samreid commented on #34
I have defined the following type in TogetherTypes.js

[code]

Note that this does not apply to a single Button definition in the code (in Sun, for instance) but pertains to several different actual implementations.  In my opinion, it is essential for us to simplify our complex type hierarchy before presenting to 3rd parties/researchers--but where should the declaration of Button live?  And how wi

[2015-03-21 02:02] samreid commented on #34
Also, the way the require statements are looking now is like this:

[code]

However, this is unconventional style of imports but works well to avoid name collisions between Node (the scenery type) and Node (the together type).  The API declaration is supposed to be human readable, so its important that the types used in the file are the names we want and not some awkward renaming to avoid collisio

[2015-03-21 02:05] samreid commented on #34
It would be best to discuss the above issues before I put a lot of work into this.  Feel free to respond asynchronously (if the above comments are sufficiently clear) or let me know when you are available for discussion @pixelzoom.

[2015-03-23 15:27] samreid commented on #34
Reassigning to @pixelzoom since I am ready for discussion.

[2015-03-23 18:15] pixelzoom commented on #34
After this morning's discussion with @samreid, I'm leaning towards either: (1) a TogetherTypes file per repo, or (2) a single together.TogetherTypes file.  We also discussed the possibility of having all of the *-together-api.js files live in the together repo, see https://github.com/phetsims/together/issues/11#issuecomment-85088984.

[2015-03-23 18:17] pixelzoom commented on #34
After this morning's discussion with @samreid...

For type definitions, I'm leaning towards either: (1) one TogetherTypes file per repo, or (2) everything in a single together.TogetherTypes file.  For (2), my main concern would be how large that file might get.

We also discussed the possibility of having all of the *-together-api.js files live in the together repo, see https://github.com/phetsims

[2015-03-23 19:22] samreid commented on #34
@pixelzoom what do you think about starting with (2) and if/when the file gets too large then going to (1) one file per repo, but keeping all of those files in the together repo.  For instance: together/js/api/Joist.js etc.

[2015-03-23 19:29] pixelzoom commented on #34
@samreid That sounds fine.

[2015-03-24 22:40] pixelzoom commented on #34
@samreid asked via Skype:

Push stuff in BLLDropperNode into scenery-phet.EyeDropperNode, as described in https://github.com/phetsims/arch/issues/14#issuecomment-85135586. Or are you avoiding that because calling together.addComponent before the dropper is fully constructed will cause problems? If so, then that would seem like a huge general problem.

[2015-03-25 01:54] samreid commented on #34
The current customization scheme doesn't handle subclassing well, but that shouldn't be solved at the moment.  I moved componentID and together.addComponent to scenery-phet in the above two commits.  Next I'll merge beers-law-lab together to master.  Note that no merge is necessary for concentration because it no longer has any code (aside from added entries to the html file).

[2015-03-25 02:05] samreid commented on #34
I merged together to master and deleted together and arch branches.  @pixelzoom I'm ready to close this issue if you are satisfied.

[2015-03-25 19:40] pixelzoom commented on #34
I reviewed the merge. A couple of questions...

(1) beers-law-lab.Dropper contains this dead code, can it be deleted?

(2) beers-law-lab.SoluteComboBox contains this line:

ComboBox has no such option, and 'PropertyID' doesn't match the 'ComponentID' naming convention (I found it by accident because buttonNodeComponentID is on the line above it.) Is this vestigial?

[2015-03-25 19:48] pixelzoom commented on #34
I like how the together-specific API and html files live in the together repo.

[2015-03-25 21:09] pixelzoom commented on #34
@samreid concentration still has a 'together' branch.

[2015-03-25 23:38] samreid commented on #34
I addressed the dead and unused code issues raised in https://github.com/phetsims/concentration/issues/34#issuecomment-86187723

The `together` branch of concentration just contains the additional scripts in the _en.html file that are required to launch.  I think we shall keep that branch for all sims that can are instrumented for together.

@pixelzoom I'm ready to close this issue if you are sati

[2015-03-30 18:38] pixelzoom opened #36 "branch: sonification-prototype"
Presumably this branch exists for the same reason as the beers-law-lab branch. See https://github.com/phetsims/beers-law-lab/issues/88.

[2015-03-30 18:40] pixelzoom opened #37 "branch: together"
I believe that this branch contains a version of Concentration that is instrumented with together (data collection) support, and that the only difference between master should be the .html file.  @samreid please correct me or elaborate.

[2015-03-30 18:46] samreid commented on #37
That is correct.

[2015-03-30 23:20] pixelzoom commented on #34
Reopening, I discovered some things that I didn't find when searching for 'together' and 'componentID'. In ConcentrationModel:

[code]

(1) Describing this as "The Public API" tells the reader nothing. The public API for a JavaScript type is all of the properties that are publicly accessible.  Describe this a "the together API" or something specific.

(2) I'm a little concerned about having to set

[2015-03-30 23:22] pixelzoom commented on #34
The above 2-way binding is also not robust.  If `solute.apiName === soluteAPIName` is false for all solutes, that is a programming error and it's silently ignore.

[2015-03-30 23:50] pixelzoom commented on #34
I have the same criticisms about this in Solute's constructor:

Together is not the only API, this needs to say something about together specifically.

[2015-03-30 23:55] pixelzoom commented on #34
Also do not like the listItemComponentID (which is missing from jsdoc) in Solute constructor.   Example:
[code]

[2015-03-30 23:58] pixelzoom commented on #34
Trying to write JSdoc for Solute's @param listItemComponentID shows how out-of-place it is. Eg:

Why would anything about combo box be in the model? What is some other UI component were used to select the solute? What if there was >1 way to select the solute?  This does not belong here.

[2015-03-31 04:00] samreid commented on #34
The 4-step plan assumes the simulation is already implemented using idiomatic axon & PhET patterns.  This will not be the case in many places and hence will require a significant amount of labor.

[2015-03-31 19:18] pixelzoom commented on #34
Discussed the above issues with @samreid and @jbphet.  Created "together-values" branch of beers-law-lab to investigate further, see https://github.com/phetsims/beers-law-lab/issues/92.

Closing.

[2015-03-31 19:18] #34 closed

[2015-03-31 19:39] pixelzoom opened #38 "string-to-value coercion for non-builtin types"
Notes from discussion with @samreid and @jbphet about alternatives to the "2-way binding" that appears in ConcentrationModel (see `soluteAPINameProperty`) and Solute.

For together instrumentation, a couple of string parameters were added to Solute:

[code]

which results in this kind of instantiation:

[code]

These new strings don't fit with the componentID pattern used elsewhere, and (in the ca

[2015-04-01 04:26] samreid commented on #38
This pattern has been implemented and seems like it is working well.  Great suggestion, @pixelzoom.  We still need to implement more fundamental type coercions, but the pattern seems good.

[2015-04-01 14:57] samreid commented on #38
I'm planning to add other type coercions as I need/test them, so no other work planned on this at the moment.  @pixelzoom would you like to review/discuss?

[2015-04-02 20:15] pixelzoom commented on #38
Looking good, I like this much better.

In concentration-api.js, I see:

[code]

https://github.com/phetsims/together/issues/30 indicates that "arch" is going away, e.g. arch.start/end will be changed to together.startEvent/endEven. Should `formatForArch` be `formatForTogether`, or something else?

[2015-04-02 23:59] samreid commented on #38
perhaps it will become `formatForEventStream`

[2015-04-03 16:49] samreid opened #39 "Resetting an already resetted sim takes the soluteType to liquid then back to solid"
Resetting an already resetted sim takes the soluteType to liquid then back to solid.

[code]

This should be resolved for together integration within the next 2 weeks or so.

[2015-04-03 17:44] pixelzoom commented on #39
This was broken by https://github.com/phetsims/beers-law-lab/issues/89.  Fixed in 6912d01264df3f6d149841cd58b72f38e8ad0fac.  @samreid please verify and close.

[2015-04-03 18:22] samreid commented on #39
I tested the arch output and it is fixed, and the change set looks good.  Closing.

[2015-04-03 18:22] #39 closed

[2015-04-03 20:28] samreid commented on #38
Renamed above, anything else to do here?

[2015-04-03 20:32] pixelzoom commented on #38
Looks good, closing.

[2015-04-03 20:32] #38 closed

[2015-04-05 02:31] samreid opened #40 "Improve performance for the ConcentrationMeterNode wire curve when running with mirror.html"
When running with together/examples/mirror.html, redrawing the curve takes up 90% of the CPU. The vector instances have the same values, but are different *instances* which makes axon think it needs to trigger a change notification, and the updateCode body executes.  Hence it would be good to check if the values actually changed before computing cubic curves and redrawing them.

Proposed fix forth

[2015-04-05 02:33] samreid commented on #40
Oops I guess this should be a beers-law-lab issue, since that is where the code lives.  Anyways, reassigning to @pixelzoom for review.

[2015-04-05 03:09] samreid opened #41 "[together.js] save/load the state of the shaker particles"
Currently the positions of the shaker particles are not being saved/loaded.  They were still animated in mirror.html by running the concentration model clock and observing motion of the shaker.  However, running the model clock in sims is not a good solution in general, and it has been disabled.  So we need a way to transmit the shaker particle states.  This should also solve a bug where reset all

[2015-04-05 03:10] samreid commented on #41
I made pretty good progress on the problem above--good enough to work for save/load and record/playback.  It is still missing some details like the velocity of the particles and their orientation, though.

[2015-04-06 17:35] pixelzoom commented on #40
Discussed with @samreid.  While this fix works in Concentration, it's a general problem that we don't want to have to address on a case-by-case basis in sim code.  Axon.Property uses referential equality to decide whether a Property's value has changed.  And doing playback of state via together creates new instances at each step.  So rather than add checks like the commit above, we should address

[2015-04-06 17:39] pixelzoom commented on #40
Also worth asking... For playback, is this performance issue really an issue that needs to be addressed? For example, if a teacher is observing playback of a student session, does it really matte that performance is not the same same as the student experienced?  The teacher is not interacting with the sim, simply observing what happened, so perhaps the performance hit caused by these Property noti

[2015-04-06 19:18] samreid commented on #40
Here is some code that @pixelzoom & I discuss for implementing equals:

[code]

[2015-04-09 18:35] samreid commented on #40
At Tuesday's developer meeting, we discussed moving the "is it different" check to together.js.

[2015-04-17 17:48] pixelzoom commented on #40
@samreid What is the status of this? Can I back out the change that you made in https://github.com/phetsims/beers-law-lab/commit/953155e72abcbb820994e5e36abf53163f592e98?

[2015-04-17 23:22] samreid commented on #40
Done above, closing.

[2015-04-17 23:22] #40 closed

[2015-05-15 20:20] samreid commented on #41
@jbphet anything else needed here?

[2015-05-26 16:46] pixelzoom commented on #41
@jbphet is this done?

[2015-05-26 16:47] pixelzoom commented on #33
@ycarpenterphet Could you briefly summarize your response to the customer, then close this issue?

[2015-05-26 17:57] orejolaphet opened #42 "Issue "?stringTest=double" covering objects"
Testing for task https://github.com/phetsims/tasks/issues/245
Solution, Solute option box covers shaker
Refresh button covers the remove solute button
![screen shot 2015-05-26 at 11 55 51 am](https://cloud.githubusercontent.com/assets/5631059/7819345/571ab32a-039e-11e5-9beb-23a01d445642.png)

[2015-05-26 18:11] pixelzoom commented on #42
This is a duplicate of https://github.com/phetsims/beers-law-lab/issues/100. As noted in https://github.com/phetsims/tasks/issues/252#issuecomment-104764079, I have already tested all of my sims for this issue.

[2015-05-26 18:11] #42 closed

[2015-05-27 15:53] jbphet commented on #41
I started taking a look at this yesterday and noticed a few issues, which @pixelzoom appears also to have noticed, since he logged https://github.com/phetsims/beers-law-lab/issues/102.  So I think that this needs a bit more attention.

[2015-05-27 15:59] pixelzoom commented on #41
Add https://github.com/phetsims/beers-law-lab/issues/103 and https://github.com/phetsims/beers-law-lab/issues/104 to the list of related issues, they also deal with deficiencies in support for particles.

[2015-06-01 18:10] jbphet commented on #37
I believe that this branch can now be removed.  The HTML file is now in the together repo for running in RequireJS mode, and the build tools now support creation of a built version.  The handling of the version identifiers still needs some work, but that's another story.

[2015-06-01 18:38] jbphet commented on #37
I went ahead and removed the branch.  Closing.

[2015-06-01 18:38] #37 closed

[2015-07-14 00:36] samreid commented on #41
@pixelzoom how much of this issue is critical for S2015R and how much can wait until we can dedicate some more time to together?

[2015-07-14 00:38] pixelzoom commented on #41
I think we can punt on this for S2015R. Unlabeling.

[2015-07-14 00:40] pixelzoom commented on #41
Back to @samreid.  If you don't plan on working on this, feel free to unassign.

[2015-07-14 19:25] samreid commented on #41
No plans to work on this at the moment.

[2015-07-15 14:09] ariel-phet commented on #41
Assigning back to @jbphet (since it was originally his issue) now that S2015R has been removed

[2015-08-03 18:49] pixelzoom commented on #33
Never got a summary from @ycarpenterphet.   But the decision was made not to do this.  Closing.

[2015-08-03 18:49] #33 closed

[2015-08-14 23:13] jbphet opened #43 "add the ability to set the label on the shaker via query parameter"
@ariel-phet is giving a demo of PhET Interoperability at a conference next week, and has requested that the interoperable version of this simulation be modified such that the label on the shaker can be customized via query parameters.  This was already done for the Beaker sim, but there is a desire to avoid that sim due to its limited exploration capabilities.

Also, the dev version that is publis

[2015-08-16 17:26] pixelzoom commented on #43
What does this mean? Does it mean the names of the solutes can be modified?

@ariel-phet I recall discussing this "feature" with @jbphet in when he was adding it to beaker. I objected strongly both to the feature itself, and the impact it was going to have on the code.  So I am not at all excited to hear that this feature is going to be added to a sim that I have primary responsibility for, and wh

[2015-08-16 17:28] pixelzoom commented on #43
Another thought... If possible, do this in a branch as a "one off" for the conference, then abandon the branch. I would be OK with that solution.

[2015-08-16 17:44] ariel-phet commented on #43
@pixelzoom yes, it can be totally be done as a one off, and discarded. I don't want to add it to the main simulation.

To better explain the impetus...I would prefer when demoing to show off PhET simulations, not the Beaker sim. The beaker sim could send the wrong message, since it is not a traditional PhET sim.

In addition, I believe for the demo we just plan to change the label on the Shaker th

[2015-08-16 17:54] pixelzoom commented on #43
Great, then I don't need to be involved further.  Thanks for the explanation.

[2015-08-17 15:47] jbphet commented on #43
I'll put it on a branch, as suggested.

[2015-08-17 18:16] samreid commented on #43
@pixelzoom said:

@ariel-phet responded:

This was an essential feature for one of our collaborations, why do you think we won't need to implement it for future interoperability clients?

[2015-08-17 18:39] pixelzoom commented on #43
The feature (as implemented in beaker) was to change the names of solutions. I objected to this because it was changing the names of standard solutions, without the ability to change their other properties. If we wanted to go down this path, I suggested a more robust feature: allowing the user to specify a custom set of solutions. This was not implemented.

As for the "change label on shaker" feat

[2015-08-17 19:17] samreid commented on #43
Thanks for clarifying, working on this in the robust way you described seems nice.

[2015-08-17 19:33] jbphet commented on #43
A version with the requested demo capability is now available here: http://www.colorado.edu/physics/phet/dev/html/concentration/1.2.0-together.7/concentration_en.html

To override the label, set ```concentration.concentrationScreen.shaker.labelOverride```.  For example,
http://www.colorado.edu/physics/phet/dev/html/concentration/1.2.0-together.7/concentration_en.html?together.values={%22concentrat

[2015-08-17 19:33] jbphet commented on #43
Assigning to @ariel-phet to test and, if satisfactory, close.

[2015-08-17 19:34] pixelzoom commented on #43
I was still confused about the "set label on shaker", so discussed with @jbphet.  Setting the label via a query parameter effectively breaks the connection between the shaker label and the selected solution, so that changing the solution results in no change to the shaker label.  I understand that this was for demo purposes only, hopefully it won't be as confusing to the audience as it is to me. I

[2015-08-17 19:35] pixelzoom commented on #43
I was still confused about the "set label on shaker", so discussed with @jbphet.  Summary: Setting the label via a query parameter effectively breaks the connection between the shaker label and the selected solution, so that changing the solution results in no change to the shaker label.  I understand that this is for demo purposes only, but (a) I think that changing static text would have been ea

[2015-08-18 00:05] ariel-phet commented on #43
@pixelzoom - thanks for the insight. One thing we saw from showing demos to a company was changing the label on the shaker was a very "oooh" moment. Agreed that an even more compelling demo would be changing things in the drop down and keeping the connection with the shaker. However, for the types of demos I will be doing, this will suffice.

[2015-08-18 00:14] ariel-phet commented on #43
Working for me. Closing

[2015-08-18 00:14] #43 closed

[2015-08-25 22:51] pixelzoom commented on #28
The only units shown in this simulation are "mol/L", via the Concentration meter. So I'm not very clear on what the user is asking for here.  Does this issue perhaps pertain to some other sim? (Molarity?) The user refers to "the concentration simulators", so it's unclear.

@ariel-phet This is a new feature request, usually assigned to the lead designer. In this case, the lead designer is no longer

[2015-08-28 16:16] ariel-phet commented on #28
This feature request is beyond the learning goals of this particular sim. Closing.

[2015-08-28 16:16] #28 closed

[2015-08-30 20:04] pixelzoom commented on #1
I'll investigate resolving this for S2015R.

[2015-08-31 19:05] pixelzoom commented on #1
Steps to reproduce:

1. select Potassium Chromate from "Solute" combo box
2. select "Solution" (dropper) radio button
3. add and drain solution (or evaporate) under precipitate forms (at around 3.3 mol/L)
4. add solution with dropper
5. watch precipitate particles "flicker" as some are added and immediately removed

[2015-08-31 20:40] pixelzoom commented on #1
Using the dropper to add solution calls `ConcentrationModel.addStockSolutionFromDropper`, which calls `addSolvent` (which changes `solution.volume`), followed by `addSolute` (which changes solution.soluteAmountProperty`).  The increase of volume removes particle(s), then the change in solute amount adds particle(s).  This is the source of the "flickering".  When adding stock solution, we should on

[2015-08-31 21:44] pixelzoom commented on #1
Fixed in https://github.com/phetsims/beers-law-lab/commit/822ec10c8fc057337344ae9b81661b6d1b1f6d16.

[2015-08-31 22:04] pixelzoom commented on #1
Fixed in this dev version:

http://www.colorado.edu/physics/phet/dev/html/concentration/1.2.0-dev.8/concentration_en.html

Assigning to @ariel-phet to verify (or decide who to assign to verify) since the team lead is no longer with the project.

[2015-09-01 03:30] pixelzoom commented on #1
Hi @amyh-phet, @ariel-phet tells me you're the new lead on this sim. Could you please review the fix for this issue? Steps to reproduce at in https://github.com/phetsims/concentration/issues/1#issuecomment-136468976. Thanks.

[2015-09-01 15:29] amyh-phet commented on #1
@pixelzoom    Reviewed fix.   No flickering particles in dev version with any solutes tested.   Closing issue.

[2015-09-01 15:29] #1 closed

[2015-09-01 15:39] pixelzoom commented on #1
Great, thanks.

[2015-10-27 16:33] samreid commented on #41
The remaining work is detailed in https://github.com/phetsims/beers-law-lab/issues/103, closing.

[2015-10-27 16:33] #41 closed

[2015-10-30 17:16] pixelzoom opened #44 "add QA credits"
... as specified in https://github.com/phetsims/beers-law-lab/issues/117

[2015-10-30 21:44] #44 closed

[2015-11-09 16:13] orejolaphet opened #45 "Reset button does not remove solute particles that are in mid-air"
Found in testing for Beers Law Lab, Issue is also present here in concentration.
Reposting issue here.
https://github.com/phetsims/beers-law-lab/issues/122

[2015-11-09 21:53] pixelzoom commented on #45
Concentration is a subset of Beer's Law, so this is a duplicate of phetsims/beers-law-lab#122 and will be addressed there. Closing.

[2015-11-09 21:53] #45 closed

[2015-11-11 00:26] ariel-phet opened #46 "Remaining 1.2.0 redeploy items"
- [x] Rosetta test (Opening sim to trusted translators for beta)
- [x] Check teacher tips are up to date
- [ ] Check sim primer is up to date

[2015-11-11 00:34] ariel-phet commented on #46
wow, already translated!

[2015-11-11 00:40] pixelzoom commented on #46
wow indeed. that's both impressive and scary.

[2015-11-11 00:45] ariel-phet commented on #46
Why scary?

[2015-11-11 00:49] pixelzoom commented on #46
scary that someone is watching what we're doing that closely, and is that responsive.

[2015-11-11 00:50] pixelzoom commented on #46
the good kind of scary. like the good kind of bad :)

[2016-01-04 17:15] ariel-phet commented on #46
The primer projects are being covered by https://github.com/phetsims/tasks/issues/429 and https://github.com/phetsims/tasks/issues/430 closing

[2016-01-04 17:15] #46 closed

[2016-01-29 06:10] kathy-phet opened #47 "Added Features"
We are looking to add the following features to increase flexibility for lab use and for younger grade level. I suggest making all of these as behaviors that are designed into master and part of our published sim, and accessible through query parameters.

- [ ] Add a readout display for the Solute added (in g)
- [ ] Display concentration units in percent (as is option in Beaker).
- [ ] Display vol

[2016-01-29 19:55] pixelzoom commented on #47
@kathy-phet @ariel-phet

(1) Do you want to add these features only to the Concentration sim, or should they also appear in the "Concentration" screen of Beer's Law Lab.  If the latter, then I'm going to move this issue to repository beers-law-lab, since that's where the work will be done.  And I will probably break this into 3 issues, one for each feature, since the requested features are indepen

[2016-01-29 19:56] pixelzoom commented on #47
(3) Are there any deadlines for these features?

[2016-01-30 00:50] ariel-phet commented on #47
1) Considering the relationship between BLL and concentration, would it be easier to have this implemented in BLL? I think we will want to do whatever you feel is the best in terms of maintenance costs.

2) I figure we would discuss this (for the percent and the mL these would replace the current labels when the query parameter was activated)...so these would not be additional labels, they would b

[2016-01-30 17:44] pixelzoom commented on #47
Excluding these features from Beer's Law Lab would be problematic and add cost.  The Concentration sim (and repo) gets *all* of its implementation from the Beer's Law Lab sim (and repo).

Available to chat Monday for sure, hit me up during core hours. Will let you know if anything opens up this weekend.

[2016-01-30 17:50] ariel-phet commented on #47
@pixelzoom sounds good, feel free to break this up into 3 separate issues in BLL and close this issue.

[2016-01-30 22:35] pixelzoom commented on #47
This issues has been moved to 3 issues (one for each requested feature) in beers-law-lab.  See links to the issues directly above this comment.

Closing.

[2016-01-30 22:35] #47 closed

[2016-02-05 02:45] samreid opened #48 "Deploy a dev phet-io version for ETS testing"
@kathy-phet requested me to publish a new ETS version for testing after addressing together#320-#323

[2016-02-05 02:48] samreid commented on #48
My plan, based on dev meeting discussions this week:  I'll publish the phet-io and non-phet-io versions to spot in the same directory and not password protected.  To accomplish this given our current chipper, I'll run grunt twice, once with brand=phet-io and once without, then make sure the dependencies.jsons are the same (aside from version number), then run grunt deploy-dev

[2016-02-05 02:57] samreid commented on #48
OK published at http://www.colorado.edu/physics/phet/dev/html/concentration/1.3.0-dev.1

[2016-02-05 03:16] samreid commented on #48
Oops, it did not contain the fix for concentration.concentrationScreen.view.concentrationMeterNode.bodyNode.readoutProperty, new version coming up.

[2016-02-05 03:24] samreid commented on #48
OK it's fixed, since I hadn't shared the link yet, I decided to wipe it out and redeploy as 1.3.0-dev.1 again.  I'll email ETS and @kathy-phet and @ariel-phet shortly.

[2016-02-05 03:29] samreid commented on #48
I emailed ETS and copied @kathy-phet @ariel-phet and @pixelzoom, closing.

[2016-02-05 03:29] #48 closed

[2016-04-27 17:08] oliver-phet opened #49 "User request: add Sodium Chloride as solute"
I was wondering is there any way to put Sodium Chloride (NaCl) as a compound in the concentration simulation Phet has.  I am trying to build a desalination unit in WISE and I wanted to embed the Phet concentration simulation.  It would be fantastic if one of the compounds was NaCl so that students could consider saltwater concentrations.  Thank you.

Assigning to @ariel-phet

[2016-04-27 17:34] ariel-phet commented on #49
@amyh-phet what do you think? Salt seems like the quintessential solute...think there is a reason we did not put it in? I am guessing part of the reason for not using salt was the color of the liquid will not change much to give a visual cue of concentration.

@pixelzoom my impression is the model is written in such a way that adding another solute to the concentration screen would not be difficul

[2016-04-27 17:39] amyh-phet commented on #49
@ariel-phet  and @pixelzoom  While NaCl is a commonly discussed solute, I think that the clear, colorless solution that would result does not allow the user to connect solution color to concentration.   Mathematically I see no difficulty with adding NaCl to the sim, but it would not be useful in the BL screen.

[2016-04-27 21:27] pixelzoom commented on #49
The "Concentration" and "Beer's Law" screens use different models.  So while the lists of solutes/solutions are currently the same, it is possible to add a new solute to ConcentrationModel without adding a corresponding solution to BeersLawModel.  So we could conceivably add NaCl to the "Concentration" screen only.

Impact:
(1) NaCl will show no change in color as concentration changes, as noted a

[2016-04-27 22:30] amyh-phet commented on #49
@pixelzoom   I can get the needed information to you tomorrow.  I'd like to dig a bit to see if we need to model the solution as fully transparent across all concentrations used in the sim.

[2016-04-27 22:44] pixelzoom commented on #49
@ariel-phet Priority? Maintenance release or minor version increment? A maintenance release will have higher development cost, but require less testing.  A minor release will have lower development cost, but will require a full RC test cycle, and triaging open issues to see what other changes will be picked up.

[2016-04-28 03:04] ariel-phet commented on #49
Definitely a minor release.

Priority is "as time allows" - Function Builder is definitely the priority, but if you need something that is a bit less mentally taxing feel free to tackle the enhancement.

[2016-04-28 16:46] amyh-phet commented on #49
@pixelzoom

- Common name:  Table salt
- formula:  NaCl
- stock concentration: 5.50 mol/L
- molar mass: 58.443 g/mol
- solubility: 6.15 mol/L
- 3 colors:

min: no color-fully transparent
middle:  no color-fully transparent
max:  Would be nice to add a bit of opacity here.   Can we try  f1f2f2 at 40% transparency?

- color for precipitate particles:  f1f2f2 (very light gray)

Let me know if you nee

[2016-05-11 20:44] pixelzoom commented on #49
Reminder to self: add corresponding entry to beers-law-lab-api.js.

[2016-05-11 21:03] pixelzoom commented on #49
Moving this issue to https://github.com/phetsims/beers-law-lab/issues/169, since this work will be done in the beers-law-lab repository.

[2016-05-11 21:03] #49 closed

[2016-07-20 22:32] samreid opened #50 "branch: phet-io-types"
See https://github.com/phetsims/phet-io/issues/489

I emailed the developer list:

PhET Developers,

I'm about to create branches in 6 repos to support the work-in-progress for moving phet-io types to simulations as part of https://github.com/phetsims/phet-io/issues/489

This approach seems feasible, so please keep in mind that changes to these repos will eventually need to merge.

Currently the r

[2016-07-21 21:30] samreid commented on #50
Merged and deleted branch, see https://github.com/phetsims/phet-io/issues/489

Closing.

[2016-07-21 21:30] #50 closed

[2017-08-29 22:23] pixelzoom opened #51 "why is there no 1.4 branch?"
The current production branch is 1.3, current published version is 1.3.5.   On 11/3/2016, @samreid created branch 1.5-phetio.  @samreid why did you skip 1.4 and 1.4-phetio?

[2017-09-09 01:23] samreid commented on #51
package.json changed to 1.4 on 5/23/2016.
It made it up to 1.4.0-phetiodev.3 on 9/26/16
On 10/4/16 there was a commit https://github.com/phetsims/concentration/commit/0076fab0239f0d4a95bda59b30e333c9033a12a6 with commit message

Perhaps the developer following the "sim_deployment.md" instructions at the time probably thought a new minor version was part of the steps.

[2017-09-11 16:07] pixelzoom commented on #51
OK. Sounds like this happened when the process and version id convention was unclear.

Closing.

[2017-09-11 16:07] #51 closed

[2018-06-12 20:57] JRomero0613 opened #52 "[1.5.4-rc.1-phetio] State Wrapper doesn't copy solid solute"
Test Device: PC Laptop

OS: Windows 10 v. 1803

Browser: Google Chrome v. 67.0.3396.87

Problem Description: For phetsims/QA#128 when using the state wrapper the copied sim does not show any solid solute being mixed into the solution. The sim works fine otherwise. This is the same error that occurs on the concentration screen of the Beer's Law Lab as referenced in https://github.com/phetsims/beers

[2018-06-12 21:45] phet-steele commented on #52
@JRomero0613 this is because the Concentration *sim* IS the same as the Concentration *screen* in Beer's Law Lab. They are literally the same thing. You will see almost no code [in this repo](https://github.com/phetsims/concentration/tree/master/js) because the code used to make this sim is the exact same code used in BLL. PhET does this often with their sims; sometimes it's straightforward like t

[2018-06-12 21:45] #52 closed

[2019-04-10 19:51] KatieWoe opened #53 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* In landscape mode the blue pointer area for the concentration tool looks odd

Screenshots:
![Image from iOS (1)](https://user-images.githu

[2019-04-10 22:38] pixelzoom commented on #53
This sim is identical to the Concentration screen in Beer's Law Lab, so I would expect this issue to be a duplicate (subset) of https://github.com/phetsims/beers-law-lab/issues/236.

[2019-04-11 13:27] arouinfar commented on #53
Thanks @KatieWoe.

From a design perspective, I would make the same decisions about the touch areas for Concentration and the Concentration screen of Beer's Law Lab. From what I understand about the code, it all lives in the `beers-law-lab` repo, and any change made to BLL would automatically apply to Concentration. If this is true, I think this would be safe to close @pixelzoom.

[2019-04-11 15:24] pixelzoom commented on #53
Yep, it all lives in beers-law-lab, and anything we do there applies to concentration.  So closing as duplicate.

[2019-04-11 15:24] #53 closed

[2019-04-22 18:36] KatieWoe opened #54 "Solute particles jump around when tub is draining"
**Test device:**
Dell
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
Minor bug found in https://github.com/phetsims/QA/issues/309.
When there are a smaller number of particles sitting at the bottom of a saturated solution, draining the solution causes some of the particles to move along the bottom wildly until draining stops.  Seen in older versions, so not connected to

[2019-04-24 17:41] pixelzoom commented on #54
Moving this issue from concentration to beers-law-lab repo, since the former is a subset of the latter.

[2019-05-13 15:28] Nanodot opened #55 "Volume change bug"
It can be clearly seen in this app that when adding nearly 180g NaCl to 0.5L water (6.150M) the solution level is unchanged. Nor is the final volume shown anywhere in the Sim.

Attached is a file that has room temperature density data for each of your systems. It includes the screenshot as well as typed values.

Perhaps this data will assist in getting the ball rolling on this bug fix.
[PhET Molar

[2019-05-13 16:02] pixelzoom commented on #55
@Nanodot please clarify what you think is incorrect, and what needs to be fixed.

[2019-05-13 16:05] arouinfar commented on #55
@Nanodot thank you for reaching out to us.

What you've encountered is not a bug; it was a deliberate design decision. In the simulation, concentration is calculated as solute amount divided by **water** volume, and the corresponding simplified equation for concentration is: Moles of Solute / Volume of Solvent. The volume of dissolved solute has only a small effect on solution volume, and differen

[2019-05-13 19:55] Nanodot commented on #55
This app is clearly NOT UG-Gen Chem useful at all - IMO. By UG-Intro i assume, in hindsight, this is for non-science majors?

I teach college level Gen Chem (10+ years now) and i am looking for simulators to help my students with concentrations of M, m, and mass%. Clearly this sim is not ever going to help them... Thanks for explaining the underlying simplifying assumptions for your target audienc

[2019-05-14 02:38] ariel-phet commented on #55
@Nanodot we appreciate the feedback, and understand your concerns. We choose each simulation to align with certain learning goals, and as we all know, whenever we are describing science we are using a model. For example, when we write down a chemical equation, there might actually be millions of intermediate products and steps, but we are choosing an overall representation.

So, as to your comment

[2019-05-14 12:59] Nanodot commented on #55
I understand the philosophy, thanks for explaining. I think as long as your target audience are not going to be science students in college it is a good idea to simplify this way.

One example of over-simplification we see in Univ Gen Chem are students that MAY have learned in HS that Acid/Base reactions can be calculated using the "dilution equation" i.e. proportionality. That only works when the

[2019-05-14 15:07] pixelzoom commented on #55
Thank you @Nanodot.  Closing.

[2019-05-14 15:07] #55 closed

[2020-03-07 00:10] KatieWoe opened #56 "Reentry detected"
For ES6 testing. On master phet-io and phet brand.
If you add solute your mix, evaporate all the liquid, the try to add back water you are unable to and get this console error. You can then freeze the whole sim by, for instance, clicking remove solute.
![reentrydetected](https://user-images.githubusercontent.com/41024075/76131854-66737b00-5fcd-11ea-8a3b-621ac3508b7d.gif)

[2020-03-07 01:24] pixelzoom commented on #56
Concentration is a subset of Beer's Law Lab. This issue is not specific to Concentration, and can be reproduced in Beer's Law Lab.  So transferring this issue to beers-law-lab.

[2020-03-09 17:29] KatieWoe opened #57 "Studio changes not kept"
For ES6 Testing
When you use studio to disable the evaporation slider, adding or removing water/solution re-enables it.
![comesback](https://user-images.githubusercontent.com/41024075/76240607-255fae80-61f9-11ea-83dd-69d3d6a47fe4.gif)

[2020-03-09 17:43] pixelzoom commented on #57
The enabled state of the Evaporation control is fully controlled by the sim, based on whether there is solution in the beaker.   If you want to be able to disable it permanently, then that will need to be added as a PhET-iO only feature.  But before doing that, I'd like to know what the use case is.   The Evaporation control is not a read-out, so if it's not desirable to have it, make it invisible

[2020-03-09 17:44] KatieWoe commented on #57
I'm honestly not sure what a use case would be. I brought it up because it was different from the behavior I expected.

[2020-03-09 17:49] pixelzoom commented on #57
Sorry @KatieWoe, I should have been clear.  The "use case" question is for designers, when we get around to addressing PhET-iO redesign in https://github.com/phetsims/beers-law-lab/issues/230.

Transferring this issue from concentration to beers-law-lab, since it's not specific to concentration .

[2020-03-18 19:02] pixelzoom opened #58 "convert model.txt and implementation-notes.txt to .md"
.md is the PhET standard.

[2020-03-18 19:54] pixelzoom commented on #58
Done, closing.

[2020-03-18 19:54] #58 closed

[2020-09-08 17:02] oliver-phet opened #59 "User request: mass of solute added"

[2020-09-08 17:06] pixelzoom commented on #59
Migrating this issue to the beers-law-lab repo, since concentration is 1 screen from beers-law-lab.

[2021-08-12 15:34] oliver-phet opened #60 "User suggestion: addition of temperature slider"

[2021-08-12 15:41] pixelzoom commented on #60
Development-wise, this would be a major change/enhancement.  This simulation (and its parent sim Beer's Law Lab) has nothing related to temperature in the model or the view.  In addition to a thermometer, a heating/cooling source would presumably be needed.

[2022-07-25 17:41] arouinfar commented on #60
I agree with @pixelzoom's assessment. This request goes well beyond the scope of the learning goals, so it is not a change I would consider.

[2022-07-25 17:41] #60 closed